<template id="breadcrumbs">
    <div class="page-head">
        <ol class="breadcrumb">

            <slot name="path">
                <li class="breadcrumb-item">Главная</li>
            </slot>

            <li class="ms-auto">
                <template v-if="cart">
                    <div @click="onMyCart" :class="{'has-item': cart.count(), 'cart-toggle': true}" title="Корзина">
                        <span class="icon fa fa-shopping-cart"></span>
                        {{cart.count()}}
                        <span>товар(ов)</span>
                    </div>
                </template>
                <div @click="toOrders" class="user-toggle" title="Заказы">
                    <span class="icon fa fa-user"></span>
                    <span>Мои заказы</span>
                </div>
            </li>
        </ol>
    </div>
</template>