<template id="item">
  <div class="page">

    <breadcrumbs :cart="cart">
      <template #path>
        <li class="breadcrumb-item">
          <a @click.prevent="toMain" href="#">Главная</a>
        </li>
        <li v-if="bundle" class="breadcrumb-item">
          <a @click.prevent="toItem(bundle)" href="#">Набор</a>
        </li>
        <li class="breadcrumb-item">Товар</li>
      </template>
    </breadcrumbs>

    <div class="loadable-container">
      <template v-if="loaded && id">

        <h1>{{name}}</h1>

        <div class="row">
          <div class="col-md-6">
            <div class="form">

              <h4 class="subtitle mt-0">{{description}}</h4>

              <div class="form-group row">
                <label class="col-3 col-form-label">Идентификатор</label>
                <div class="col-9">
                  <div class="form-control-plaintext">{{id}}</div>
                </div>
              </div>
              <div v-if="bundled" class="form-group row">
                <label class="col-3 col-form-label">Состав</label>
                <div class="col-9">
                  <div class="form-control-plaintext">
                    <div class="list-group">
                      <template v-for="item of items">
                        <a @click.prevent="toItem(item.id, id)" href="#" class="list-group-item list-group-item-action">
                          {{item.name}}
                        </a>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
              <div v-for="{label, value} of propAttrs" class="form-group row">
                <label class="col-3 col-form-label">{{label}}</label>
                <div class="col-9">
                  <div class="form-control-plaintext">{{value}}</div>
                </div>
              </div>
              <div v-if="price" class="form-group row">
                <label class="col-3 col-form-label">Цена</label>
                <div class="col-9">
                  <div class="form-control-plaintext">{{price}}</div>
                </div>
              </div>
              <div v-if="stock" class="form-group row">
                <label class="col-3 col-form-label">В наличии</label>
                <div class="col-9">
                  <div class="form-control-plaintext">{{stock}}</div>
                </div>
              </div>
              <div v-if="discount" class="form-group row">
                <div class="col-9 offset-3">
                  <div class="alert-warning alert">
                    Скидка <b>{{discount.percent}}%</b> действует
                    до <b>{{discount.end | date}}</b>
                    на покупку от <b>{{discount.quantity}}</b> товара(ов)
                  </div>
                </div>
              </div>
              <div v-if="inCart" class="buyed-block form-group">
                <div class="form-group row">
                  <div class="col-9 offset-3">
                    <button @click="onCart" class="btn-success btn" title="Перейти в корзину">
                      Товар уже в корзине
                    </button>
                  </div>
                </div>
              </div>
              <div v-else-if="onSale && stock > 0" class="buy-block form-group">
                <div class="form-group row required">
                  <label class="col-3 col-form-label">Количество</label>
                  <div class="col-9">
                    <input v-model.number="quantity" type="number" class="form-control">
                    <div class="error-block"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-9 offset-3">
                    <button @click="onBuy" type="button" class="btn-primary btn">
                      Положить в корзину
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="mb-3">
              <template v-if="categories.length">
                <div class="mb-3">
                  <b>Товар входит в категории</b>
                </div>
                <template v-for="item of categories">
                  <button @click="toMain(item.id)"
                      class="w-100 mb-2 btn-outline-secondary btn"
                      type="button">
                    {{item.name}}
                  </button>
                </template>
              </template>
              <template v-else>
                <i class="text-secondary">
                  Товар не входит ни в одну из категорий
                </i>
              </template>
            </div>

            <img v-if="picture" :src="picture" class="img-thumbnail" alt="">
          </div>
        </div>
      </template>

      <template v-if="loaded && !id">
        <h1>{{item}}</h1>
        <div class="alert-danger alert">Товар не найден</div>
      </template>

      <div v-show="loading" class="loader">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>
  </div>
</template>